@font-face {
  font-family: 'gothamlight';
  src: url('../fonts/gothamlight-webfont.woff2') format('woff2'), url('../fonts/gothamlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'gothammedium';
  src: url('../fonts/gothammedium-webfont.woff2') format('woff2'), url('../fonts/gothammedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format('eot'), url('../fonts/icons.ttf') format('truetype'), url('../fonts/icons.woff') format('woff'), url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon-base-pseudo,
.icon-alert:before,
.icon-arrow-down:before,
.icon-arrow-left:before,
.icon-arrow-right:before,
.icon-arrow-right2:before,
.icon-badge:before,
.icon-box:before,
.icon-cell:before,
.icon-chain:before,
.icon-chart:before,
.icon-chat:before,
.icon-check:before,
.icon-checks:before,
.icon-clock:before,
.icon-download:before,
.icon-email:before,
.icon-exit:before,
.icon-external:before,
.icon-facebook:before,
.icon-factory:before,
.icon-global:before,
.icon-hand:before,
.icon-handshake:before,
.icon-hourglass:before,
.icon-img:before,
.icon-instagram:before,
.icon-linkedin:before,
.icon-money:before,
.icon-pencil:before,
.icon-pin:before,
.icon-play-media:before,
.icon-plus:before,
.icon-search:before,
.icon-star:before,
.icon-twitter:before,
.icon-user:before,
.icon-user2:before,
.icon-users:before,
.form-control-image .list:before,
.select:after,
.widget .expandable:after,
.profile .profile-nav .li-message.expandable:after {
  font-family: "icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-alert:before {
  content: "\E001";
}
.icon-arrow-down:before {
  content: "\E002";
}
.icon-arrow-left:before {
  content: "\E003";
}
.icon-arrow-right:before {
  content: "\E004";
}
.icon-arrow-right2:before {
  content: "\E005";
}
.icon-badge:before {
  content: "\E006";
}
.icon-box:before {
  content: "\E007";
}
.icon-cell:before {
  content: "\E008";
}
.icon-chain:before {
  content: "\E009";
}
.icon-chart:before {
  content: "\E00A";
}
.icon-chat:before {
  content: "\E00B";
}
.icon-check:before {
  content: "\E00C";
}
.icon-checks:before {
  content: "\E00D";
}
.icon-clock:before {
  content: "\E00E";
}
.icon-download:before {
  content: "\E00F";
}
.icon-email:before {
  content: "\E010";
}
.icon-exit:before {
  content: "\E011";
}
.icon-external:before {
  content: "\E012";
}
.icon-facebook:before {
  content: "\E013";
}
.icon-factory:before {
  content: "\E014";
}
.icon-global:before {
  content: "\E015";
}
.icon-hand:before {
  content: "\E016";
}
.icon-handshake:before {
  content: "\E017";
}
.icon-hourglass:before {
  content: "\E018";
}
.icon-img:before {
  content: "\E019";
}
.icon-instagram:before {
  content: "\E01A";
}
.icon-linkedin:before {
  content: "\E01B";
}
.icon-money:before {
  content: "\E01C";
}
.icon-pencil:before {
  content: "\E01D";
}
.icon-pin:before {
  content: "\E01E";
}
.icon-play-media:before {
  content: "\E01F";
}
.icon-plus:before {
  content: "\E020";
}
.icon-search:before {
  content: "\E021";
}
.icon-star:before {
  content: "\E022";
}
.icon-twitter:before {
  content: "\E023";
}
.icon-user:before {
  content: "\E024";
}
.icon-user2:before {
  content: "\E025";
}
.icon-users:before {
  content: "\E026";
}
body {
    background-color: $bg-body;
    font-family: $font-global;
    color: $gray;
    padding-bottom: 0px;
}

h1 {
    font-size: $title;
    line-height: 90%;
    font-family: $font-global;
    margin-top: 0px;
    margin-bottom: 25px;
    span {
        font-size: $title-span;
        font-family: $font-global;
    }
    strong {
        font-family: $font-global;
    }
}

h2 {
    font-size: $sub-title;
    a {
        text-decoration: none;
        color: $gray;
        font-family: $font-global;
        
        &:hover {
            text-decoration: none;
            color: $white;
        }
    }
}

p {
    font-family: $font-light;
    font-weight: normal;
    color: #636770;
}

ul {
    padding-top: 25px;
    padding-left: 20px;

    li {
        display: inline;
        list-style: none;
        // margin-right: 30px;

        a {
            display: block;
            padding-bottom: 5px;
            font-family: $font-global;
            font-size: 16px;
            color: $gray;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
                color: $gray;
            }
        }
    }
    li:last-child {
        margin-right: 0px;
    }
}

.container-imagem { margin-bottom: 15px; }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $gray;
}
:-moz-placeholder { /* Firefox 18- */
  color: $gray;
}

.no-padding { padding: 0; }

.archive-post { 
    width: 100%;

    section {
        margin-bottom: 25px;
        overflow: hidden;

        .content {
            word-wrap: break-word;
            overflow: hidden;
        }
    }

    h1 {
        font-family: $font-global;
        font-weight: normal;
        font-size: 22px;

        a {
            color: $gray;
            text-decoration: none;
            line-height: 100%;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .content {
        background-color: $white;
    }

    .conteudo {
        padding: 0 25px 0;
        margin-bottom: 25px;
    }
}

.col-left { float: left; width: 100%; }

.col-right { float: left; width: 100%; }

.title-categoria {
    a {
        font-family: $font-light;
        font-size: 14px;
        color: $gray;
        text-transform: uppercase;

        &:hover {
            font-family: $font-light;
            font-size: 14px;
            color: $gray;
            text-transform: uppercase;
        }
    }
}

.continuar-lendo {
    position: relative;
    top: 0;
    margin-top: -110px;
    margin-left: 25px;
    background: linear-gradient(to top,#fff,#fff 75%,rgba(255,255,255,0));
}

.sidebar {
    h3 {
        background-repeat: no-repeat;
        background-color: #414042;
        background-position: 0 100%;

        font-family: $font-global;
        font-size: 18px;
        font-weight: normal;
        color: #FFCB05;
        text-transform: uppercase;
        padding: 25px 25px;
        margin: 0;
    }

    .row {
        .content {
            background-color: $white;
            padding-bottom: 25px;
            margin-bottom: 25px;
        }

        .title-newsletter { display: none; }
    }

    .searchform,
    .wpcf7-form {
        div { padding: 20px 20px 0; }
        label {
            display: none;
        }
        input[type="text"],
        input[type="email"] {
            padding: 12px;
            width: 100%;
            border-radius: 25px;
            border: 2px solid $gray;
            font-family: $font-global;
            font-size: 16px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

            &:focus {
                border: 2px solid $yellow;
                outline: none;
            }
        }

        #searchsubmit {
        }
    }
    .wpcf7-form {
        padding: 20px 20px 0;
        label {
            display: initial;
            margin-bottom: 2px;
            font-family: $font-light;
            font-size: 16px;
            color: #414042;
            font-weight: normal;
        }

        .btn-primary {
            margin: 20px 0 20px;
            padding: 13px;
            font-family: $font-global;
            font-size: 16px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;

            &:active {
                margin: 20px 0;
                padding: 13px;
                font-family: $font-global;
                font-size: 16px;
                color: $gray;
                background-color: $yellow;
                border: 1px solid $yellow;
                border-radius: 25px;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all .2s ease-out;
                -ms-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }
            &:focus {
                margin: 20px 0;
                padding: 13px;
                font-family: $font-global;
                font-size: 16px;
                color: $gray;
                background-color: $yellow;
                border: 1px solid $yellow;
                border-radius: 25px;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all .2s ease-out;
                -ms-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }
            &:visited {
                margin: 20px 0;
                padding: 13px;
                font-family: $font-global;
                font-size: 14px;
                color: $gray;
                background-color: $yellow;
                border: 1px solid $yellow;
                border-radius: 25px;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all .2s ease-out;
                -ms-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }

            span {
                position: relative;
                left: 0;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all .2s ease-out;
                -ms-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }
            i {
                margin-left: 10px;
                -webkit-transition: all .2s ease-out;
                -moz-transition: all .2s ease-out;
                -ms-transition: all .2s ease-out;
                -o-transition: all .2s ease-out;
                transition: all .2s ease-out;
            }

            &:hover {
                background-color: $gray !important;
                border-color: $gray !important;
                border: 1px solid $gray;
                color: $yellow;

                i {
                    color: $yellow;
                }
                span {
                    color: $yellow;
                }
            }
        }
    }

    li {
        display: block;
        padding-bottom: 13px;
        margin-right: 0px;
        margin-bottom: 10px;
        border-bottom: 1px solid #d0d0d0;

        a {
            display: inline;
        }
    }

    .cat-item {
        margin-right: 20px;
    }
}

.ico-img {
    position: relative;
    bottom: 28px;
}

.blog-padding-top {
    margin-top: 25px;
}

#container-blog-page {
    z-index: 999;
    position: relative;

    .container-crumbs { margin-bottom: 25px !important; }
    .padding-content { padding: 0 20px 20px; }

    .col-left {
        section {
            background-color: $white;
        }

        .row {
            &.padding-content {
                padding: 0 25px 25px;
            }
        }
    }

    h1 {
        margin-bottom: 10px;
        padding-top: 20px;
        padding-left: 25px;
        font-family: $font-global;
        font-size: 36px;
        font-weight: normal;
        line-height: 100%;
        color:  #414042;
    }

    .tb-post-time {
        display: block;
        margin-left: 25px;
        margin-bottom: 15px;
        font-family: $font-global;
        font-size: 13px;
        color: #9f9f9f;
    }

    .archive-post { 
        width: 100%;
        margin-top: 30px !important;

        p {
            font-weight: normal;
            color: #636770;
        }

        section {
            margin-bottom: 25px;
            overflow: hidden;

            .content {
                word-wrap: break-word;
                overflow: hidden;
                p {
                    font-weight: normal;
                    color: #636770;
                }
            }
        }

        h1 {
            font-family: $font-global;
            font-weight: bold;
            font-size: 22px;
            padding-left: 0;

            a {
                color: $gray;
                text-decoration: none;
                line-height: 100%;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .content {
            background-color: $white;
        }

        .conteudo {
            padding: 0 25px 0;
            margin-bottom: 25px;
            p {
                font-weight: normal;
                color: #636770;
            }
        }
    }
}

.tags {
    background-color: transparent !important;
    font-family: $font-global;
    font-size: 18px;

    .fa { 
        transform: scaleX(-1);
        margin-right: 8px;
        color: #FFCB05;
        font-size: 22px;
    }

    a {
        font-family: $font-global;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: #3A3C44;
        border-radius: 5px;
        background-color: #FFF;
        padding: 5px 8px;
        margin: 0 10px;

        &:hover {
            background-color: #FFCB05;
        }
    }
}

.row {
    margin: 0px !important;
}

.single-page {
    padding-top: 105px;
}

.logo {
    margin: 10px 0;
    float: left;
    z-index: 99;
    position: relative;
    height: 96px;
    display: block;

    a {
        float: left;
    	background-image: url(../../images/logo.png);
        display: inline-block;
        vertical-align: middle;
    	width: 84px;
        height: 96px;
    	text-indent: -9999px;
	    overflow: hidden;
	    background-repeat: no-repeat;
	    background-position: left center;
	    background-size: contain;

        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
    }
    span {
        vertical-align: middle;
        display: inline-block;
        margin-left: 5px;
        margin-top: 35px;
        width: 120px;
        font-family: $font-global;
        color: #414042;
        font-size: 12px;
        line-height: 1.2;
        text-transform: uppercase;
    }
}

.navbar {
    overflow: hidden
}

.page-newsletter {

    h1 {
        margin-top: 25%;
        font-family: $font-global;
        font-size: 48px;
        line-height: 100%;
        color: #FFF;
    }
     p { margin-bottom: 5px !important; }
    
    .bg-yellow {
        background-color: #F6CD04;
        height:415px;
    }

    .box-right {
        float: right;
        width: 470px;
        margin-top: 35px;
        padding-right: 15px;
        p {
            font-family: $font-global;
            font-size: 20px;
            padding-right: 20px;
        }
    }

    .box-left {
        float: right;
        width: 500px;
        height:415px;
    }

    .box-bg {
        margin-left: -15px;
        background-color: $gray;
        width: 500px;
        height: 415px;

        img {
            position: absolute;
            float: left;
            height: 415px;
        }
        .ajax-loader {
            width: 16px;
            height: 16px;
        }
    }

    div.wpcf7 { float: right; }

    form {
        margin: 0;
        padding: 25px 20px 0;
        width: 360px;
        min-height: 350px;
        background-color: #414042;

        .wpcf7-validation-errors {
            margin-top: -25px;
            width: 100%;
            color: #FFF;
            font-size: 12px;
        }

        fieldset { 
            margin-top: 10px;   
        }
    }

    label {
        margin-bottom: 2px;
        font-family: $font-light;
        font-size: 16px;
        color: $white;
        font-weight: normal;
    }

    .wpcf7-mail-sent-ok { color: #FFF }

    input[type="text"] {
        margin-bottom: 5px;
        padding: 12px;
        width: 100%;
        border-radius: 25px;
        border: 2px solid $white;
        background-color: transparent;
        font-family: $font-light;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: #FFF;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    input[type="email"] {
        padding: 12px;
        width: 100%;
        border-radius: 25px;
        border: 2px solid $white;
        background-color: transparent;
        font-family: $font-light;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: #FFF;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $white;
    }

    .btn-primary {
        margin: 20px 0;
        padding: 13px;
        font-family: $font-global;
        font-size: 16px;
        color: $gray;
        background-color: $yellow;
        border: 1px solid $yellow;
        border-radius: 25px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:active {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 16px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        &:focus {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 16px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        &:visited {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 14px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        span {
            position: relative;
            left: 0;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        i {
            margin-left: 10px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        &:hover {
            background-color: $gray !important;
            border-color: $gray !important;
            border: 1px solid $gray;
            color: $yellow;

            i {
                color: $yellow;
            }
            span {
                color: $yellow;
            }
        }
    }
}

.comment {
    margin: 25px 15px;
    padding: 25px 10px;
    background-color: #FFF;
}
.form-comment {
    margin: 25px 15px;
    padding: 25px;
    background-color: #FFF;
}

.form-comment,
.comment {
    .fa {
        margin-right: 8px;
        color: #FFCB05;
        font-size: 22px;
    }

    label {
        margin-bottom: 2px;
        font-family: $font-light;
        font-size: 16px;
        color: #414042;
        font-weight: normal;
    }

    input[type="text"] {
        margin-bottom: 5px;
        padding: 12px;
        width: 100%;
        border: 2px solid #414042;
        background-color: transparent;
        font-family: $font-light;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: #414042;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    input[type="email"] {
        padding: 12px;
        width: 100%;
        border: 2px solid #414042;
        background-color: transparent;
        font-family: $font-light;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: #414042;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    textarea {
        margin-top: 25px;
        padding: 12px;
        width: 100%;
        border: 2px solid #414042;
        background-color: transparent;
        font-family: $font-light;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        color: #414042;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $white;
    }

    #envio-contato {
        margin: 20px 0;
        padding: 5px 20px;
        font-family: $font-global;
        font-size: 16px;
        color: $gray;
        background-color: $yellow;
        border: 1px solid $yellow;
        border-radius: 25px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:active {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 16px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        &:focus {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 16px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        &:visited {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 14px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        span {
            position: relative;
            left: 0;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        i {
            margin-left: 10px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        &:hover {
            background-color: $gray !important;
            border-color: $gray !important;
            border: 1px solid $gray;
            color: $yellow;

            i {
                color: $yellow;
            }
            span {
                color: $yellow;
            }
        }
    }
}
.clear {
    clear: both;
}
#comments {
    margin: 25px 15px;
    background-color: #FFF;

    article {
        margin-bottom: 20px;
    }

    figure {
        display: inline-block;
        float: left;
        margin-right: 15px;

        img {
            border-radius: 5px;
        }
    }

    .author-name {
        float: left;
        width: 50%;
        font-family: $font-global;
        font-size: 16px;
        color: $gray;
    }

    time {
        float: left;
        width: 38%;
        text-align: right;
        font-family: $font-global;
        font-size: 16px;
        color: $gray;
    }

    .comentario {
        float: left;
        margin-top: 10px;
        width: 85%;
        font-family: $font-global;
        font-size: 14px;
        color: $gray;
    }

    footer {
        display: block;
        margin: 10px 0 10px 50px;
        padding: 0;
        float: left;
        background-color: #FFF;
        border: 0;
    }

    .comment-reply-link {
        font-family: $font-global;
        font-size: 14px;
        text-decoration: none;
        color: #FFCB05;
        border-radius: 25px;
        background-color: #414042;
        padding: 5px 15px;
        margin: 0 10px;

        &:hover {
            background-color: #FFCB05;
            color: #414042;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        &:visited {
            color: $white;
            &:hover {color: $white;}
        }
    }
}
.page-newsletter-page {
    @extend .page-newsletter;
    position: absolute;
    width: 100%;
    z-index: 0;
}

.container-newsletter {
    background-color: $yellow;
}

footer {
    margin-top: 30px;
    background-color: $gray;
    padding: 30px 0 0;
    border-top: 5px solid #FFCB05;
    font-family: $font-global;
    color: $white;

    h1 {
        margin-top: 0px;
    }

    .logo { 
        width: 100%;
        margin-top: 0px;
    }

    ul {
        width: auto;
        padding-top: 20px;
        padding-left: 0px;

        li {
            list-style: none;
            display: block;
            margin-bottom: 10px;

            a {
                color: $white;
                display: inline;
                margin-right: 15px;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    form {
        margin-top: -20px;
    }

    .col-md-8 {
        padding-right: 0px;
        padding-left: 0px;
    }

    h3 {
        margin-bottom: 30px;
        font-family: $font-global;
        font-size: 21px;
        color: $yellow;
    }

    label {
        margin-bottom: 10px;
        font-family: $font-global;
        font-size: 17px;
    }

    input[type="text"] {
        margin-bottom: 10px;
        padding: 12px;
        width: 100%;
        border-radius: 25px;
        border: 2px solid $white;
        background-color: $gray;
        font-family: $font-global;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    input[type="email"] {
        padding: 12px;
        width: 100%;
        border-radius: 25px;
        border: 2px solid $white;
        background-color: $gray;
        font-family: $font-global;
        font-size: 16px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:focus {
            border: 2px solid $yellow;
            outline: none;
        }
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: $white;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: $white;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: $white;
    }
    :-moz-placeholder { /* Firefox 18- */
      color: $white;
    }

    .btn-primary {
        margin: 20px 0;
        padding: 13px;
        font-family: $font-global;
        font-size: 16px;
        color: $gray;
        background-color: $yellow;
        border: 1px solid $yellow;
        border-radius: 25px;
        -webkit-transition: all .2s ease-out;
        -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;

        &:active {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 14px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        &:focus {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 14px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        &:visited {
            margin: 20px 0;
            padding: 13px;
            font-family: $font-global;
            font-size: 14px;
            color: $gray;
            background-color: $yellow;
            border: 1px solid $yellow;
            border-radius: 25px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        span {
            position: relative;
            left: 0;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }
        i {
            margin-left: 10px;
            -webkit-transition: all .2s ease-out;
            -moz-transition: all .2s ease-out;
            -ms-transition: all .2s ease-out;
            -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
        }

        &:hover {
            background-color: $gray !important;
            border-color: $gray !important;
            border: 1px solid $gray;
            color: $yellow;

            i {
                color: $yellow;
            }
            span {
                color: $yellow;
            }
        }
    }

    .address {
        padding: 55px 0;
        font-family: $font-global;
        font-size: 14px;
        height: 130px;
        background-color: $bg-body;
        text-align: center;
        color: $gray;
    }
}

@media (min-width: 1200px) {
    // .container {
    //     width: 1000px;
    // }
    .col-left { width: 680px; }
    .col-right { width: 320px; }

    #container-blog-page {
        margin-top: 0px;
        z-index: 999;
        position: relative;

        h2 {
            margin-top: 45px;
            padding-left: 15px;
            font-family: $font-global;
            font-size: 20px;
            font-weight: normal;
        }

        section {
            background-color: #FFF;
            
        }

        .col-left {
            // width: 659px;
            // margin-left: 20px;

            section {
                padding-top: 1px;
                margin: 0 15px;
            }

            .archive-post {
                section {
                    margin: 0;
                }
            }
        }
    }
}
.tb-featured-image {
    margin-bottom: 20px;
    img { width: 100%; }
}
.title-newsletter {
    font-family: $font-global;
    font-weight: bold;
    font-size: 21px;
    color: #FFCB05;
    text-transform: uppercase;
    line-height: 100%;
}
.crumbs {
    padding: 0;
    height: 100px;
    font-size: 12px;
    color: #FFF;

    h1 {
        margin-top: 45px !important;
        margin-bottom: 5px !important;
        padding-top: 0 !important;
        color: #FFF !important;
        padding-left: 0px !important;
    }
    ul {
        float: left;
        padding: 0;

        li {
            display: inline;
            margin-right: 5px;
            a {
                display: inline;
                font-family: $font-light;
                font-weight: normal;
                font-size: 12px;
                color: #FFF;
                text-transform: uppercase;
            }
        }
    }

    .border-bottom-a {
        border-bottom: 8px solid #414042;
        padding-bottom: 25px;
    }
}

.div-tags {
    margin: 25px 0;
    font-family: $font-global;
    font-size: 18px;
    font-weight: bold;

    a {
        padding: 3px 10px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        font-size: 12px;
        text-transform: uppercase;
        color: #414042;
        margin: 0 10px;
        text-decoration: none;
        background-color: #FFF;
        border-radius: 2px;

        &:hover { text-decoration: underline; }
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: $md-title;
        span {
            font-size: $md-title-span;
        }
    }

    h2 {
        font-size: $md-sub-title;
    }
}

.noThumb{
  width:90px;
  height:51px;
  background-color:$yellow;
  float:left;
  margin:0 12px 0 0;
}

.realty_widget {
    margin-right: 20px;

    li {
        border-bottom: 1px solid #d0d0d0;
        display: block;
        margin: 0 0 15px 0;
        list-style: none;
        min-height: 61px;
        line-height: 19px;

        a {
            font-weight: bold;
        }

        span {
            display: block;
            font-size: 11px;
        }

        img {
            float: left;
            margin: 0 12px 0 0;
        }
    }
}



